node_modules

/.cache
/build
/dist
/public/build


# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

.mf

node_modules

/.cache
/.vercel
/.output

/public/build
/api/build
.vercel
.idea
*.css
!styles/*.css
