node_modules

.cache
.env
.vercel
.output

/build/
/public/build
/api/index.js
/api/index.js.map

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

.mf
*.css
!styles/*.css
