---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const entries = await getCollection("posts");
---

<Layout title="Ricardo Busquet">
  <h2>Blog posts</h2>

  <ul>
    {
      entries
        .sort((a, b) => (a.data.meta.date < b.data.meta.date ? 1 : -1))
        .map(({ slug, data: { meta } }) => (
          <li>
            <a href={`/posts/${slug}`}>{meta.title}</a>
            {meta.description && <p>{meta.description}</p>}
          </li>
        ))
    }
  </ul>
</Layout>
