.wrapper {
  text-align: left;
  margin: 1em 0;
  padding: 0.5em;
}

.line {
  display: table-row;
}

.lineno {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.linecontent {
  display: table-cell;
}
