---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Ricardo Busquet"
  meta={{
    description: "Ricardo Busquet's website",
  }}
>
  <main>
    <h2>404, nothing to see here!</h2>
  </main>
</Layout>
