---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Ricardo Busquet">
  <main>
    <h2>Hello, I'm Ricardo! 👋</h2>
    <p>Nice to meet you!</p>
    <p>
      As a software engineer based in New York, I bring my skills and experience
      to the forefront of technology. Originally from Brazil, I am active on
      social media and can be found on
      <a rel="me" href="https://twitter.com/ricbusquet"> Twitter</a>,
      <a rel="me" href="https://bolha.us/@rbusquet"> Mastodon</a>, and <a
        href="https://github.com/rbusquet">GitHub</a
      >.
    </p>
  </main>
  <aside>
    <h2>Blog posts</h2>

    <ul>
      {
        posts
          .sort((a, b) => (a.frontmatter.date < b.frontmatter.date ? 1 : -1))
          .map(({ url, frontmatter: meta }) => (
            <li>
              <a href={url}>{meta.title}</a>
              {meta.description && <p>{meta.description}</p>}
            </li>
          ))
      }
    </ul>
  </aside>
</Layout>
