---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const entries = await getCollection("posts");
---

<Layout
  title="Ricardo Busquet"
  meta={{
    description: "Ricardo Busquet's website",
  }}
>
  <main>
    <h2>Hello, I'm Ricardo! 👋</h2>
    <p>Nice to meet you!</p>
    <p>
      As a software engineer based in New York, I bring my skills and experience
      to the forefront of technology. Originally from Brazil, I am active on
      social media and can be found on
      <a rel="me" href="https://twitter.com/ricbusquet"> Twitter</a>,
      <a rel="me" href="https://bolha.us/@rbusquet"> Mastodon</a>, and <a
        href="https://github.com/rbusquet">GitHub</a
      >.
    </p>
  </main>
  <aside>
    <h2>Blog posts</h2>

    <ul>
      {
        entries
          .sort((a, b) => (a.data.meta.date < b.data.meta.date ? 1 : -1))
          .map(({ slug, data: { meta } }) => (
            <li>
              <a href={`/posts/${slug}`}>{meta.title}</a>
              {meta.description && <p>{meta.description}</p>}
            </li>
          ))
      }
    </ul>
  </aside>
</Layout>
