@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  line-height: 1.6;
  font-feature-settings: "ss02";
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}
