@import "@exampledev/new.css";

@import "prismjs/plugins/diff-highlight/prism-diff-highlight.css";
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";

@import "prism-themes/themes/prism-material-dark.css"
  (prefers-color-scheme: dark);
@import "prism-themes/themes/prism-material-light.css"
  (prefers-color-scheme: light);

:root {
  --nc-font-mono: SFMono-Regular, Monaco, Menlo, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--nc-font-mono);
  font-size: 0.9rem;
  color: var(--nc-tx-2);
}
