@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "highlight.js/styles/zenburn.css";
@import "https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  line-height: 1.6;
  font-feature-settings: "ss02";
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote p {
  display: inline;
}

code {
  border-radius: 5px;
  font-size: 90%;
  font-family: "JetBrains Mono", monospace;
  font-variant-ligatures: none;
}

code:not(.hljs) {
  border-radius: 5px;
  color: #1f1f3f;
  background: #dcdcdc;
  max-width: 100%;
  padding: 0.1em 0.25em;
}

/* adds some italics */
.hljs-keyword,
.hljs-built_in,
.hljs-title,
.hljs-comment,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-deletion {
  font-style: italic;
}

.hljs-selector-class,
.hljs-link,
.hljs-string {
  font-weight: bold;
}
